@{
    ViewBag.Title = "Dokumenty";
}

<div class="page-documents">
    <div class="container">

        <h1>Lista plików do pobrania</h1>

        <div class="document">
            <a href="~/Documents/regulamin.pdf" download="Regulamin ROD Okrzei">Regulamin ROD Okrzei.pdf</a>
            <a href="~/Documents/regulamin.doc" download="Regulamin ROD Okrzei">Regulamin ROD Okrzei.doc</a>
        </div>

        <div class="document">
            <a href="~/Documents/oplaty.pdf" download="Opłaty ROD Okrzei">Opłaty ROD Okrzei.pdf</a>
            <a href="~/Documents/oplaty.doc" download="Opłaty ROD Okrzei">Opłaty ROD Okrzei.doc</a>
        </div>

    </div>
</div>