* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


body {
    color: #444;
    font-family: 'Quicksand', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 1.4em;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app .spacer {
    flex: 1;
}


.titlebar {
    background-color: #238121;
    color: #f0f0f0;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}

.titlebar span {
    padding-right: 20px;
}

.titlebar span > i {
    margin-right: 7px;
}

.titlebar .social-links {
    font-size: 18px;
    text-align: right;
    color: inherit;
    text-decoration: none;
}

    .titlebar .social-links a {
        color: inherit;
        text-decoration: none;
    }

.header {
    border-bottom: 1px solid #ccc;
    background-color: white;
}

.header .menu {
    font-size: 18px;
    font-weight: bold;
    flex: 1;
    padding-top: 10px;
}

.header .menu .nav-item {
    border-top: 3px solid transparent;
}

    .header .menu .nav-item.active {
        border-top: 3px solid #457103;
    }


.main > .body-content {
    background-color: #E9ECEF;
}



.footer {
    border-top: 5px solid #457103;
    background-color: #161616;
    color: #c7c7c7;
    padding: 10px 0;
}



.home h1 {
    text-align: center;
    padding: 20px;
    color: #238121;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 30px;
}

    .home h1.title {
        border-bottom: 5px solid #238121;
    }

.home .links {
    background-color: white;
}

.home .panel {
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

.home .panel img {
    width: 40%;
}

    .home .panel h2 {
        font-size: 20px;
        text-transform: uppercase;
        color: #238121;
        padding: 20px 0;
    }



.contact .address {
    background-color: white;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.contact .address .title {
    padding: 5px 0;
}

.managements th{
    font-size: 1.4em;
}

.managements .card {
    width: 90%;
    padding: 20px;
    margin: auto;
    max-width: 250px;
}

.managements .card-title {
    margin-bottom: 0;
}
.managements .card-body {
    padding: 5px 0;
}

.managements .section {
    background-color: #E9ECEF;
    padding: 20px 0;
}




