@{
    ViewBag.Title = "Dane kontaktowe";
}


<div class="contact">
    <address class="address">
        <div class="container">
            <div class="title"><b>STOWARZYSZENIE OGRODOWE <br/> RODZINNE OGRODY DZIAŁKOWE "OKRZEI"</b></div>
            <div>ul. Okrzei 37/39</div>
            <div>42-200 Częstochowa</div>
            <br/>
            <div>Prezes   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tel. 796-106-189</div>
            <div>email: zarzad@rodokrzei.pl</div>
            <br/>
            <div>nip: 949-219-95-19</div>
            <div>krs: 0000530100</div>
            <div>regon: 360055982</div>
            <br/>
            <div>BANK PKO BP O/ CZĘSTOCHOWA: 81 1020 1664 0000 3802 0491 6021</div>
        </div>
    </address>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2522.635929926141!2d19.14865766606541!3d50.78232217952253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4710b578491aeb9f%3A0x56109a2fe3f2af87!2zT2dyw7NkIGR6aWHFgmtvd3kg4oCeT2tyemVpIiwgNDItMjAwIEN6xJlzdG9jaG93YQ!5e0!3m2!1spl!2spl!4v1546369165983" height="600" frameborder="0" style="border: 0; width: 100%;" allowfullscreen="true"></iframe>
    </div>
</div>