@{
    ViewBag.Title = "Zarząd";
}

<div class="managements">
    <div class="section">
        <div class="container">
            <table class="table">
                <thead>
                    <tr><th class="text-center" colspan="2">Członkowie Zarządu ROD Okrzei</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mariola Puczyńska-Kuśmierek</td>
                        <td>Prezes</td>
                    </tr>
                    <tr>
                        <td>Dariusz Świątek</td>
                        <td>V-ce Prezes</td>
                    </tr>
                    <tr>
                        <td>Dariusz Świątek</td>
                        <td>Sekretarz (p.o.)</td>
                    </tr>
                    <tr>
                        <td>Elżbieta Psiuk</td>
                        <td>Skarbnik</td>
                    </tr>
                    <tr>
                        <td>Marzena Kowenia</td>
                        <td>Członek</td>
                    </tr>
                    <tr>
                        <td>Katarzyna Domagała</td>
                        <td>Członek</td>
                    </tr>
                    <tr>
                        <td>Karol Orlikowski</td>
                        <td>Członek</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="section">
        <div class="container">
            <table class="table">
                <thead>
                    <tr><th class="text-center">Członkowie Komisji Rewizyjnej</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Barbara Borowiecka</td>
                    </tr>
                    <tr>
                        <td>Ewa Turek</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <table class="table">
                <thead>
                    <tr><th  class="text-center" colspan="2">Członkowie Komisji Wodnej</th></tr>
                </thead>
                <tbody>
                <tr>
                    <td>Wojciech Szwalski</td><td>Przewodniczący</td>
                </tr>
                <tr>
                    <td>Barbara Borowiecka</td><td>Członek</td>
                </tr>
                <tr>
                    <td>Tadeusz Musiał</td><td>Członek</td>
                </tr>
                <tr>
                    <td>Ryszard Jaśkiewicz</td><td>Członek</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
