@{
    ViewBag.Title = "Zarząd";
}

<div class="managements">
    <div class="section">
        <div class="container">
            <table class="table">
                <thead>
                    <tr><th class="text-center" colspan="2">Członkowie zarządu ROD Okrzei</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mariola Puczyńska Kuśmierek</td>
                        <td>Prezes zarządu</td>
                    </tr>
                    <tr>
                        <td>Erniew Tomżyński</td>
                        <td>V-ce Prezes</td>
                    </tr>
                    <tr>
                        <td>Elżbieta Psiuk</td>
                        <td>Skarbnik</td>
                    </tr>
                    <tr>
                        <td>Marzena Kowenia</td>
                        <td>Sekretarz</td>
                    </tr>
                    <tr>
                        <td>Katarzyna Domagała</td>
                        <td>Członek zarządu</td>
                    </tr>
                    <tr>
                        <td>Krystian Zębik</td>
                        <td>Członek zarządu</td>
                    </tr>
                    <tr>
                        <td>Karol Orlikowski</td>
                        <td>Członek zarządu</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="section">
        <div class="container">
            <table class="table">
                <thead>
                    <tr><th class="text-center">Członkowie komisji rewizyjnej</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Piotr Tomżyński</td>
                    </tr>
                    <tr>
                        <td>Barbara Borowiecka</td>
                    </tr>
                    <tr>
                        <td>Ewa Turek</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <table class="table">
                <thead>
                    <tr><th class="text-center">Członkowie komisji wodnej</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
