<div class="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <span>
                    <i class="fas fa-phone"></i>796-106-189
                </span>
                <span>
                    <i class="fas fa-envelope"></i>zarzad@rodokrzei.pl
                </span>
            </div>
            <div class="col-2 social-links">
                <a target="_blank" href="https://www.facebook.com/Rod-Okrzei-Cz%C4%99stochowa-1816789911760842"><i class="fab fa-facebook-square"></i></a>
            </div>
        </div>
    </div>
</div>
