@model List<Rod.Services.Vo.PostVo>

@{
    ViewBag.Title = "Aktualności";
}

<div class="page-news">
    <div class="container">
        <article class="post-container">
            <div class="post-image"></div>
            <div class="post-header">
                <div class="post-date">
                    <div class="l1">12</div>
                    <div class="l2">PAŹ/18</div>
                </div>
                <div class="post-title">
                    <h1>Wniosek o dotację ad asd asd asd asd asd as das das d</h1>
                </div>
            </div>
            <div class="post-content">
                Zarząd Stowarzyszenia złożył kolejny wniosek o <b>dotację celową na realizację projektu koncepcyjnego dot. budowy budynku gospodarczo - biurowego na terenie naszych ogrodów, w związku z wejściem w życie Ustawy o RODO, gdzie zabezpieczenie dokumentacji prawno - administracyjnej naszego Stowarzyszenia posiada bardzo wysoki stopień uszczegółowienia.</b>
                <br/>Projekt koncepcyjny wykonał działkowicz Wojciech Szwalski.
                <br/>Szacunkowa  wielkość inwestycji  74 144,00 zł. wnioskowana dotacja 61 786,00 zł.
            </div>
        </article>
    </div>
</div>