@model List<Rod.Services.Vo.PostVo>

@{
    ViewBag.Title = "Aktualności";
}




<div class="page-news">
    <div class="container">
        @foreach (var post in Model)
        {
            @Html.Partial("_Post", post)
        }
    </div>
</div>